@font-face {
  font-family: 'Gilroy';
  src: url('../font/Gilroy-ExtraBold.eot');
  src: local('Gilroy ExtraBold'), local('Gilroy-ExtraBold'),
    url('../font/Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../font/Gilroy-ExtraBold.woff') format('woff'),
    url('../font/Gilroy-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../font/Gilroy-Light.eot');
  src: local('Gilroy Light'), local('Gilroy-Light'),
    url('../font/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
    url('../font/Gilroy-Light.woff') format('woff'),
    url('../font/Gilroy-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

.main-image {
  margin-top: -40px;
  margin-left: 112px;
  position: absolute;
  min-height: 100px;
  display: flex;
  justify-content: center;
  opacity: 0.5;
}

.main-image {
  filter: hue-rotate(2000deg);
}

.visually-hidden {
  position: absolute;
  padding: 0;

  width: 1px;
  height: 1px;
  margin: -1px;
  

  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container{ 
  margin: auto;
  padding-right: 20px;
  padding-left: 20px;
  width: 1160px;
}

.button {
  font-size: 18px;
  font-family: "Gilroy", Arial, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  letter-spacing: 0.2em;

  border: none;
  background: none;

  background-image: linear-gradient(transparent 33%, #f0c52e 33%, #f0c52e 66%, transparent 66%);
}

.button:hover {
  background-color: #f0c52e; 
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

body {
  margin-top: 40px;

  font-size: 18px;
  font-family: "Open Sans", Arial, sans-serif;
  color: black; 
}

h1.main-title{
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  padding-left: 60px;

  font-size: 47px;
  font-family: "Gilroy", Arial, sans-serif;
}

.header-background {
  background-color: #f7e296;
  min-height: 188px;
}

.main-nav {
  padding-right: 60px;
  padding-left: 60px;
}

.header-nav-top {
  margin-bottom: 35px;
  margin-left: 60px;
  margin-right: 60px;

  display: flex; 
  justify-content: space-between;
  align-items: center; 
}

.main-header-logo {
  position: relative;
  left: 58px;
  top: -19px;
}

.main-header-logo:hover,
.main-footer-logo:hover {
  opacity: 0.6;
}

.main-header-logo:active,
.main-footer-logo:active {
  opacity: 0.3;
}

.header-nav-top p {
  margin: 0;
  padding: 0;

  font-size: 0;
}

.header-nav-top input[type="text"] {
  margin: 0;
  padding: 0;
  padding-left: 40px;
  
  font-size: 15px;
  line-height: 40px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #ac9e69;

  background: none;
  border: none;
}
.header-nav-top input[type="text"]:focus {
  color: black;
  border-bottom: 2px solid black;
  box-sizing: border-box;
}


.header-nav-top button {
  margin: 0;
  padding: 0;
  padding-left: 19px;
  padding-right: 19px;

  min-height: 44px;
  
  font-size: 15px;
  line-height: 20px;
  font-family: "Open Sans", Arial, sans-serif;
  text-transform: none;
  font-weight: normal;
  letter-spacing: normal;

  background: none;
  border: 2px solid black;
}

.header-nav-top button:hover {  
  color: rgb(255, 255, 255);

  background-color: black;
}

.header-nav-top button:active {
  color: rgba(255, 255, 255, 0.3);
}

.main-header a:hover {
  opacity: 0.6;
}

.main-header a:active {
  opacity: 0.3;
}

.header-nav-top a {
  font-size: 15px;
  font-family: "Open Sans", Arial, sans-serif; 
  color: black;
  text-decoration: none;
}

.profile-navigation {
  margin: 0;
  margin-left: 20px;
  padding: 0;

  width: 440px;

  list-style: none;
}

.login-link {
  text-align:  center;
}

.login-link a {
  padding-left: 27px;

  background: url("../img/user.svg") no-repeat 5px 4px;
}

.user-navigation {
  padding: 0;
  margin: 0;

  display: flex;

  list-style: none;
}

.user-navigation li:last-child{
  margin-left: 20px;

  text-align: right;
}

.user-navigation a {
  display: inline-block;
  width: 80px;
  text-align: right;
}

.compare {
  padding-left: 20px;
  background: url("../img/compare.svg") no-repeat 15px 4px;
}

.cart {
  padding-left: 20px;
  background: url("../img/cart.svg") no-repeat 17px 2px;
}

.site-navigation{
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: flex-end;

  list-style: none;
}

.site-navigation-item>a {
  font-size: 18px;
  line-height: 22px;
  font-family: "Gilroy", Arial, sans-serif ;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
  color: black;
}

.site-navigation-item:first-child {
  margin-right: auto;
  margin-left: 0;
}

.site-navigation-item:nth-child(3){
  margin-left: 35px;
}

.site-navigation-item:last-child{
  margin-right: -0.2em;
  margin-left: 107px;
} 

.catalog-navigation {
  position: absolute;
  padding-top: 25px;
  margin-left: -60px;
  padding-bottom: 25px;
  padding-right: 440px;
  padding-left: 60px;

  box-sizing: border-box;
  width: 1160px;
  display: flex;
  flex-wrap: wrap;

  background: #f7e296;
  list-style: none;
}

.catalog-navigation li{
  width: 200px;
  margin-right: 20px;
}

.catalog-navigation li:nth-child(3n-1){
  padding-left: 20px;
  box-sizing: border-box;
}

.catalog-navigation li:nth-child(3n){
  margin-right: 0;
}

.catalog-navigation li:last-child {
  width: 100%;
}

.slide-list {
  background-image: linear-gradient(#f7e296 110px, transparent 110px);
}

.catalog-navigation a {
  font-size: 15px;
  line-height: 36px;
  font-family: "Open Sans", Arial, sans-serif;
  text-decoration: none;
  color: black;
}

.slide-container {
  width: 1160px;
  overflow: hidden;
}

.slider-navigation {
  margin: 0;
}

.slide-list{
  width: 300%;
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 95px;
}

.slider-item {
  width: 1160px;
  display: flex;

  justify-content: space-between;
}

.slider-item img{
  margin: auto;
}

.slider-item-info{
  margin-right: 60px;
  margin-top: 80px;

  width: 500px;
}

.item-text-promo {
  margin: 0;
  padding: 0;

  font-size: 47px;
  line-height: normal;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;  
}

.item-text-promo:before {
  margin-top: -42px;
  position: absolute;
  display: block;
  content: "";
  width: 100px;
  height: 7px;


  padding: 10;
  background-color: white;
}

p.item-text {
  margin: 0;
  padding: 0;
  margin-top: 25px;
  margin-bottom: 55px;

  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", Arial, sans-serif;
}

.slider-item-info {
  padding-left: 33px;
}

.item-promo span {
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", Arial, sans-serif; 
}

.slider-item a.button{
  padding-right: 40px;
  padding-left: 40px;
}

.slider-item table{
  margin-top: 55px;
}

.slider-item th {
  font-size: 13px;
  line-height: 20px; 
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: none; 
  color: #464646;
}

.slider-item td {
  padding-right: 40px;

  font-size: 36px;
  font-family: "Open Sans", Arial, sans-serif; 
}

.product-category {
  margin-bottom: 90px;
}

.product-category-list{
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: space-between;
  
  list-style: none;
}

.product-category-item {
  width: 160px;
  height: 160px;

  background-color: rgba(240, 197, 46, 0.5);
}

.product-category-item:hover {
  background-color: rgb(240, 197, 46);
}

.product-category-item a {
  font-size: 18px;
  font-family: "Gilroy", Arial, sans-serif;
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.product-category-item a:active { 
  color:#b2b2b2 ;
}

.services-background{
  background-image: linear-gradient(transparent 35%, #e5e5e5 35%); 
}

.services {
  margin-bottom: 90px;

  display: flex;
  align-items: center;
  min-height: 455px;
}

.services ul{
  margin: 0;
  padding: 0;

  list-style: none;
}

.services-category-list {
  width: 280px;
}

.services button {
  margin-top: 12px;
  margin-bottom: 12px;

  width: 160px;
  min-height: 40px;

  font-size: 18px;
  font-family: "Gilroy", Arial, sans-serif;  
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.2em;
}

.services .btn-active,
.services button:active{
  width: 100%;
  padding-right: 126px;

  color: #f7e184;

  background: #000000;
} 

.services-category-item{
  padding-left: 120px;

  width: 460px;
}

.services h3 {
  font-size: 47px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
}

.services p {
  font-size: 15px;
  line-height: 30px
  font-family: "Open Sans", Arial, sans-serif; 
}

.brands{
  margin-bottom: 100px;
}

.brands-list{
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: space-between;

  list-style: none;
}

.information{
  margin-bottom: 90px;

  display: flex;
  justify-content: space-between;
}

.information .about {
  width: 500px;
}

.information .contacts {
  width: 560px;
}

.information h3 {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
  font-size: 47px;
}

.information p {
  margin-top: 0;
  margin-bottom: 40px;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
}

.about p{
  margin-bottom: 30px;
}

.about p:last-of-type{
  margin-bottom: 75px;
}

.contacts img{
  margin-bottom: 75px;
}

.information ul{
  margin: 0;
  padding: 0;
  padding-left: 35px;
  padding-bottom: 90px;

  list-style: none;
}

.information li {
  margin-bottom: 15px;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
}

.information li:last-child {
  margin-bottom: 0;
}

.information a{
  display: block;
  width: 260px;

  text-align: center;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  padding-left: 60px;
  padding-bottom: 50px;
  
  display: flex;
  list-style: none;
}

.breadcrumbs li {
  margin-right: 40px;
}

.breadcrumbs li:last-child {
  margin-right: 0;
}

.breadcrumbs a {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 36px;
  text-decoration: none;
  color: #bcbcbc;
}

.breadcrumbs a:hover {
  color: #666666;
}

.breadcrumbs a:active {
  color: #e5e5e5;
}

.background-content-left {
  flex-grow: 1;
  background-color: rgba(0, 0, 0, 0.08);
}
.background-content-right {
  flex-grow: 1;
}

.content {
  position: relative;
  display: flex;
}

.content h2 {
  margin: 0;
  padding: 0;
  padding-top: 28px;
  padding-bottom: 28px;
}

.product-filter {
  width: 328px;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.08);
}

.product-filter h2 {
  padding-left: 80px;
  margin-bottom: 70px;
}

.product-filter fieldset {
  padding: 0;
  width: 200px;
  border:none;
  border-top: 3px solid black;
  margin-left: 80px;
}

.product-filter legend {
  font-size: 14px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
}

.product-filter button{
  margin-left: 80px;

  width: 200px;
}

.product-filter h2,
.product-sorting h2 {
  font-size: 16px;
  font-family: "Gilroy", Arial, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.2em;
}

.product-filter input,
.product-filter p {
  font-size: 14px;
  line-height: 40px;
  font-family: "Open Sans", Arial, sans-serif;
  color: black;
}

.product-filter p:hover {
  color: #606060;
}

.background-sorting {
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.08); 
}

.product-sorting {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.product-sorting h2{
  margin-left: 73px;
  margin-right: 53px;
}

.product-sorting ul {
  display: flex;
  justify-content: space-between;

  list-style: none;
}

.sorting-option {
  padding: 0;
  margin-left: 0;
}

.sorting-option li {
  margin-right: 30px;
}

.sorting-option a,
.sorting-order a {
  font-size: 14px;
  line-height: 19px;
  font-family: "Open Sans", Arial, sans-serif; 
  text-decoration: none;
  color: #bcbcbc;
}

a.sorting-item-active {
  color: black;
}

.sorting-option a:hover,
.sorting-order a:hover {
  color: #666666;
}

.sorting-option a:active,
.sorting-order a:hover {
  color: black;
}

.catalog {
  width: 833px;
}

.catalog-list {
  padding: 0;
  padding-top: 90px;
  margin: 0;
  margin-left: 33px;

  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.catalog-item {
  margin-left: 40px;
  margin-top: 50px;

  width: 360px;
}

.catalog-item img {
  margin-bottom: 35px;
}

.catalog a {
  text-decoration: none;
  color: black;
}

.catalog-item h3 {
  padding: 0;
  margin: 0;

  width: 260px;
  display: inline-block;

  font-size: 18px;
  font-family: "Gilroy", Arial, sans-serif;
  
}

.catalog b {
  width: 90px;
  display: inline-block;

  text-align: right;
  vertical-align: top;
}

.pagination-list {
  margin:0;
  margin-top: 65px;
  margin-bottom: 77px;
  margin-left: auto;
  padding: 0; 

  display: flex;
  justify-content: space-between;
  width: 760px;
  min-height: 70px;
  align-items: center;

  font-size: 16px;
  font-family: "Gilroy", Arial, sans-serif;

  list-style: none;
  background-color: #ebebeb;
}

.pagination-back{
  margin-right: auto;
}

.pagination-back a{
  padding: 25px 30px;
}

.pagination-item {
  margin: 16px;
}

.pagination-next {
  margin-left: auto;
}

.pagination-next a{
  padding: 25px 30px;
}


.pagination-item a { 
  margin-left: auto;

  font-weight: bold;
  color: #b2b2b2;
}

.pagination-item a:hover {
  color: #666666;
}

.pagination-item a:active {
  color: black;
}

.pagination-item-current>a {
  color: black;
}

.pagination-back>a,
.pagination-next>a {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: black;
}

.pagination-back>a:hover,
.pagination-next>a:hover {
  background-color: #d9d9d9;
}

.pagination-back>a:active,
.pagination-next>a:active {
  color: #979797;
}

.catalog b {
  font-size: 16px;
  font-weight: normal;  
  color: #464646;
}

.main-footer {
  padding-top: 65px;

  background-color: #464646;
}

.main-footer-top {
  margin-bottom: 35px;

  display: flex;
  justify-content: space-between;
}

.footer-user-navigation {
  padding: 0;
  margin: 0;

  list-style: none;
}

.footer-user-navigation li{
  margin-left: 65px;

  float: left;
}

.footer-user-navigation a,
.main-footer-middle b {
  font-size: 15px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: none;
  text-decoration: none;
  color: white;
}

.main-footer-middle {
  display: flex;
  justify-content: space-between;
}

.main-footer-middle ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-footer-middle li {
  padding-left: 19px;
  padding-right: 19px;

  float: left;
}

.main-footer-middle b {
  font-weight: normal;
}

.footer-user-navigation a {
  color: #c8c8c8;
}

.footer-user-navigation a:hover {
  color: #ffffff;
}

.footer-user-navigation a:active {
  color: #7e7e7e;
}

.footer-site-navigation a {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0;
  letter-spacing: 0.2em;
  text-decoration: none;
}

.footer-site-navigation a:hover {
  color: #b5b5b5;
}

.footer-site-navigation a:active {
  color:#7e7e7e;
}

p.footer-copyright {
  margin: 0;
}

.modal-login label {
  font-size: 18px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
}

.modal-login input,
.modal-login textarea {
  font-size: 14px;
  line-height: 30px;
  font-family: "Open Sans", Arial, sans-serif; 

  background-color: #f2f2f2;
  border: none; 
}