@font-face {
  font-family: 'Gilroy';
  src: url('../font/Gilroy-ExtraBold.eot');
  src: local('Gilroy ExtraBold'), local('Gilroy-ExtraBold'),
    url('../font/Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../font/Gilroy-ExtraBold.woff') format('woff'),
    url('../font/Gilroy-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../font/Gilroy-Light.eot');
  src: local('Gilroy Light'), local('Gilroy-Light'),
    url('../font/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
    url('../font/Gilroy-Light.woff') format('woff'),
    url('../font/Gilroy-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container{
  width: 1160px;
  margin: auto;
}

.button {
  font-size: 18px;
  font-family: "Gilroy", Arial, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  letter-spacing: 0.2em;

  border: none;
  background: none;
  background-image: linear-gradient(transparent 33%, #f0c52e 33%, #f0c52e 66%, transparent 66%);
}

.button:hover {
  background-color: #f0c52e; 
}

.button:active {
  color: #a88a20; 
}

body {
  margin: 0;
  padding: 0;

  font-size: 18px;
  font-family: "Gilroy", Arial, sans-serif;
  color: black; 
}

.main-header {
  margin-top: 40px;

  min-height: 300px;

  background-color: #f7e296;
}

.main-header ul {
  padding: 0;
  margin: 0;

  list-style: none;
}

.main-nav {
  padding-right: 60px;
  padding-left: 60px;
}

.main-nav-top {
  padding-bottom: 35px;
  display: flex; 
  justify-content: space-between;
  align-items: center; 
}

.main-header-logo {
  position: relative;
  left: -32px;
  top: -17px;
}

.main-header-logo:hover,
.main-footer-logo:hover {
  opacity: 0.6;
}

.main-header-logo:active,
.main-footer-logo:active {
  opacity: 0.3;
}

.main-nav-top p{
  margin: 0;
  padding: 0;

  font-size: 0;
}

.main-nav-top input[type="text"] {
  padding: 0;
  margin: 0;
  padding-left: 40px;
  
  font-size: 15px;
  line-height: 40px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #ac9e69;

  background: none;
  border: none;
}
.main-nav-top input[type="text"]:focus {
  color: black;
  border-bottom: 2px solid black;
  box-sizing: border-box;
}


.main-nav-top button {
  min-height: 44px;
  
  letter-spacing: normal;
  font-size: 15px;
  font-family: "Open Sans", Arial, sans-serif;
  text-transform: none;
  font-weight: normal;

  background: none;
  border: 2px solid black;
}

.main-nav-top button:hover {  
  color: white;

  background-color: black;
}

.main-nav-top button:active {
  color: #4d4d4d;
}

.main-nav a:hover {
  color: #635a35;
}

.main-nav a:active {
  color: #ac9e69;
}

.main-nav-top a {
  font-size: 15px;
  font-family: "Open Sans", Arial, sans-serif; 
  color: black;
  text-decoration: none;
}

.profile-navigation {
  margin-left: auto;
  margin-right:  200px;
  padding-right: 10px;
  width: 100px;
}

.login-link{
  text-align:  right;
}

.user-navigation li{
  float: left;
  text-align: center;
  width: 100px;
}

.user-navigation li:last-child{
  text-align: right;
  margin-left: 20px;
}

.main-nav-bottom ul{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

.site-navigation-item>a {
  font-size: 18px;
  line-height: 22px;
  font-family: "Gilroy", Arial, sans-serif ;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
  color: black;
}

.site-navigation-item:first-child {
  margin-right: auto;
  margin-left: 0;
}

.site-navigation-item:nth-child(3){
    margin-left: 40px;
}


.site-navigation-item:last-child{
  margin-right: -0.2em;
  margin-left: 112px;
} 

.catalog-navigation{
  position: absolute;
  margin-top: 25px;
  margin-left: -3px;
}

.catalog-navigation tr{
  height: 33px;
}

.catalog-navigation td:first-child{
  width: 240px;
}

.catalog-navigation td:nth-child(2){
  width: 200px;
}




.catalog-navigation a {
  font-size: 15px;
  font-family: "Open Sans", Arial, sans-serif;
  text-decoration: none;
  color: black;
}

.slide-list{
  margin: 0;
  padding: 0;
  margin-bottom: 95px;
}

.slider-item {
  display: flex;
  justify-content: space-between;
}

.slider-item img{
  margin: auto;
}

.slider-item-info{
  width: 500px;
  padding-right: 60px;
  padding-top: 70px;
}

.item-text-promo {
  font-size: 47px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;  
}

.item-promo span {
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", Arial, sans-serif; 
}


.slider-item th {
  font-size: 13px;
  line-height: 20px; 
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: none; 
}

.slider-item td {
  font-size: 36px;
  font-family: "Open Sans", Arial, sans-serif; 
}

.product-category {
  margin-bottom: 90px;
}

.product-category-list{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.product-category-item {
  width: 160px;
  height: 160px;

  background-color: #f7e296;
}

.product-category-item:hover {
  background-color: #f0c52e;
}

.product-category-item a {
  font-size: 18px;
  font-family: "Gilroy", Arial, sans-serif;
  color: black;

  font-weight: bold;
  text-decoration: none;
}

.product-category-item a:active { 
  color:#b2b2b2 ;
}

.services-background{
  background-image: linear-gradient(transparent 35%, #e5e5e5 35%);
  margin: auto;
}

.services {
  margin: auto;
  margin-bottom: 90px;
  display: flex;
  align-items: center;
  min-height: 455px;
}

.services ul{
  margin: 0;
  padding: 0;

  list-style: none;
}

.services-category-list {
  width: 280px;
}

.services button {
  min-height: 40px;
  margin-top: 12px;
  margin-bottom: 12px;

  width: 160px;
  font-size: 18px;
  font-family: "Gilroy", Arial, sans-serif;  
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.2em;
}

.services .btn-active,
.services button:active{
  width: 100%;
  padding-right: 126px;

  color: #f7e184;

  background: #000000;

} 

.services-category-item{
  padding-left: 120px;
  width: 460px;
}

.services h3 {
  font-size: 47px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
}

.services p {
  font-size: 15px;
  line-height: 30px
  font-family: "Open Sans", Arial, sans-serif; 
}

.brands-list{
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: space-between;

  list-style: none;
}

.information{
  display: flex;
}

.information h3 {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
  font-size: 47px;
}

.information p {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
}

.information li {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
}

.breadcrumbs a {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 36px;
  text-decoration: none;
  color: #bcbcbc;
}

.breadcrumbs a:hover {
  color: #666666;
}

.breadcrumbs a:active {
  color: #e5e5e5;
}

.product-filter {
  background-color: #ebebeb;
}

.product-filter h2 {
  background-color: #dcdcdc;
}

.product-filter h2,
.product-sorting h2 {
  font-size: 16px;
  font-family: "Gilroy", Arial, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.2em;
}

.product-filter input,
.product-filter p {
  font-size: 14px;
  line-height: 40px;
  font-family: "Open Sans", Arial, sans-serif;
  color: black;
}

.product-filter p:hover {
  color: #606060;
}


.product-filter fieldset {
  width: 200px;

  border: none;
}

.product-filter legend {
  font-size: 14px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
}

.product-sorting {
  background-color: #ebebeb;
}

.sorting-option a,
.sorting-order a {
  font-size: 14px;
  line-height: 19px;
  font-family: "Open Sans", Arial, sans-serif; 
  text-decoration: none;
  color: #bcbcbc;
}

a.sorting-item-active {
  color: black;
}

.sorting-option a:hover,
.sorting-order a:hover {
  color: #666666;
}

.sorting-option a:active,
.sorting-order a:hover {
  color: black;
}

.catalog a {
  text-decoration: none;
  color: black;
}

.pagination-list {
  background-color: #ebebeb;
}

.pagination-item a { 
  font-weight: bold;
  color: #b2b2b2;
}

.pagination-item a:hover {
  color: #666666;
}

.pagination-item a:active {
  color: black;
}

.pagination-item-current>a {
  color: black;
}

.pagination-back>a,
.pagination-next>a {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: black;
}

.pagination-back>a:hover,
.pagination-next>a:hover {
  background-color: #d9d9d9;
}

.pagination-back>a:active,
.pagination-next>a:active {
  color: #979797;
}

.catalog b {
  font-size: 16px;
  font-weight: normal;  
  color: #464646;
}

.main-footer {
  background-color: #464646;
}

.main-footer-top {
  display: flex;
  justify-content: space-between;
}

.footer-user-navigation {
  padding: 0;
  margin: 0;

  list-style: none;
}

.footer-user-navigation li{
  float: left;
}

.footer-user-navigation a,
.main-footer-middle b {
  font-size: 15px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: none;
  text-decoration: none;
  color: white;
}

.main-footer-middle b {
  font-weight: normal;
}

.footer-user-navigation a {
  color: #c8c8c8;
}

.footer-user-navigation a:hover {
  color: #ffffff;
}

.footer-user-navigation a:active {
  color: #7e7e7e;
}

.footer-site-navigation a {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0;
  letter-spacing: 0.2em;
  text-decoration: none;
}

.footer-site-navigation a:hover {
  color: #b5b5b5;
}

.footer-site-navigation a:active {
  color:#7e7e7e;
}

.modal-login label {
  font-size: 18px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
}

.modal-login input,
.modal-login textarea {
  font-size: 14px;
  line-height: 30px;
  font-family: "Open Sans", Arial, sans-serif; 

  background-color: #f2f2f2;
  border: none; 
}