@font-face {
  font-family: 'Gilroy';
  src: url('../font/gilroyextraBold.woff');
  src: local('Gilroy ExtraBold'), local('Gilroy-ExtraBold'),
    url('../font/gilroyextraBold.woff') format('woff'),
    url('../font/gilroyextraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../font/gilroylight.woff');
  src: local('Gilroy Light'), local('Gilroy-Light'),
    url('../font/gilroylight.woff') format('woff'),
    url('../font/gilroylight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  padding: 0;

  width: 1px;
  height: 1px;
  margin: -1px;
  
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container { 
  margin: auto;
  padding-right: 20px;
  padding-left: 20px;
  width: 1160px;
}

.button {
  padding-top: 10px;
  padding-bottom: 10px;

  font-size: 18px;
  font-family: "Gilroy", Arial, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  letter-spacing: 0.2em;

  border: none;
  background: none;

  background-image: linear-gradient(transparent 42%, #f0c52e 42%, #f0c52e 58%, transparent 58%);
}

.button:hover {
  background-color: #f0c52e; 
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

body {
  margin-top: 40px;

  font-size: 18px;
  font-family: "Open Sans", Arial, sans-serif;
  color: black; 
}

.main-title {
  margin: 0;
  padding: 0;
  margin-top: 33px;
  margin-bottom: 15px;
  padding-left: 60px;

  font-size: 47px;
  letter-spacing: 0.01em;
  font-family: "Gilroy", Arial, sans-serif;
}

.main-header {
  position: relative;
  z-index: 2;
}

.header-background {
  min-height: 188px;

  background-color: #f7e296;
}

.main-nav {
  padding-right: 60px;
  padding-left: 60px;
}

.header-nav-top {
  margin-bottom: 27px;
  margin-left: 60px;
  margin-right: 60px;
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; 
}

.header-nav-top form {
  margin: 0;
  padding: 0;
  height: 49px;

  font-size: 0;
}

.header-nav-top ul{
  padding-bottom: 5px;
}

.main-header-logo {
  position: relative;
  left: 58px;
  top: -16px;
}

.main-header-logo:hover,
.main-footer-logo:hover {
  opacity: 0.6;
}

.main-header-logo:active,
.main-footer-logo:active {
  opacity: 0.3;
}

.header-nav-top input[type="search"] {
  margin: 0;
  padding: 0;
  padding-bottom: 2px;
  padding-top: 2px;
  padding-left: 40px;
  height: 44px;
  width: 356px;

  font-size: 15px;
  line-height: 36px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #ac9e69;
  
  box-sizing: border-box;
  background: none;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: 3px 10px;
  border: 2px solid transparent;
  border-right: none;
  outline-style: none;
}

input[type="search"]::-webkit-input-placeholder { color: rgba(0, 0, 0, 0.3); }
input[type="search"]::-moz-placeholder          { color: rgba(0, 0, 0, 0.3); } /* Firefox 19+ */
input[type="search"]:-moz-placeholder           { color: rgba(0, 0, 0, 0.3); } /* Firefox 18- */
input[type="search"]:-ms-input-placeholder      { color: rgba(0, 0, 0, 0.3); }

input[type="search"]:hover::-webkit-input-placeholder { color: rgba(0, 0, 0, 0.6); }
input[type="search"]:hover::-moz-placeholder          { color: rgba(0, 0, 0, 0.6); } /* Firefox 19+ */
input[type="search"]:hover:-moz-placeholder           { color: rgba(0, 0, 0, 0.6); } /* Firefox 18- */
input[type="search"]:hover:-ms-input-placeholder      { color: rgba(0, 0, 0, 0.6); }

.button-search {
  display: none;

  background: none;
  border: 2px solid black;
}

.header-nav-top input[type="search"]:focus {
  color: black;

  border-bottom: 2px solid black;
}

input[type="search"]:focus + .button-search,
.header-nav-top button:hover {
  display: inline-block;
  margin: 0;
  padding: 0;
  padding-left: 19px;
  padding-right: 19px;
  min-height: 44px;
  vertical-align: top;

  font-size: 15px;
  line-height: 20px;
  font-family: "Open Sans", Arial, sans-serif;
  text-transform: none;
  font-weight: normal;
  letter-spacing: normal;
}

.header-nav-top button:hover {  
  color: rgb(255, 255, 255);

  background-color: black;
}

.header-nav-top button:active {
  color: rgba(255, 255, 255, 0.3);
}

.main-header a:hover {
  opacity: 0.6;
}

.main-header a:active {
  opacity: 0.3;
}

.header-nav-top a {
  font-size: 15px;
  font-family: "Open Sans", Arial, sans-serif; 
  color: black;
  text-decoration: none;
}

.profile-navigation {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-right: auto;
  margin-left: 35px;
  padding: 0;
  list-style: none;
}


.user-navagation-item:first-child a {
  background: url("../img/user.svg") no-repeat 5px 4px;
  padding-left: 30px;
}

.user-navagation-item {
  opacity: 0.3;
}

.user-navagation-item:first-child{
  opacity: 1;
}

.profile-navigation li:first-child {
  margin-right: 20px;
}

.user-navigation {
  padding: 0;
  margin: 0;

  display: flex;
  list-style: none;
}


.user-navigation li:last-child {
  margin-left: 22px;

  text-align: right;
}

.user-navigation a {
  display: inline-block;
  width: 80px;
  vertical-align: top;

  text-align: right;
}

.header-nav-top form {
  width: 500px;
}

.header-nav-top .compare {
  padding-left: 20px;

  background: url("../img/compare.svg") no-repeat 11px 4px;
}

.header-nav-top .cart {
  padding-left: 20px;

  background: url("../img/cart.svg") no-repeat 17px 2px;
}

.site-navigation {
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  list-style: none;
}

.site-catalog:hover + ul,
.catalog-navigation:hover {
  display: flex;
}

.site-navigation-item>a {
  font-size: 18px;
  font-family: "Gilroy", Arial, sans-serif ;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
  color: black;
}

.site-catalog {
  position: relative;
}

.site-catalog::before,
.site-catalog::after {
  position: absolute;
  content: "";
  right: -29px;
  top: 9px;
  width: 16px;
  height: 2px;

  background-color: #b8a974;
}

.site-catalog::before {
  transform: rotate(90deg);
}

.site-navigation-item:first-child {
  margin-right: auto;
  margin-left: 0;
}

.site-navigation-item:nth-child(3) {
  margin-left: 35px;
}

.site-navigation-item:last-child {
  margin-right: -0.2em;
  margin-left: 107px;
} 

.catalog-navigation {
  position: absolute;
  left: 0;

  display: none;
  padding-top: 25px;
  padding-bottom: 29px;
  padding-right: 440px;
  padding-left: 60px;
  margin-left: 20px;
  width: 1160px;
  flex-wrap: wrap;
  box-sizing: border-box;

  background: #f7e296;
  list-style: none;
}

.catalog-navigation li {
  width: 200px;
  margin-right: 20px;
}

.catalog-navigation li:nth-child(3n-1) {
  padding-left: 20px;

  box-sizing: border-box;
}

.catalog-navigation li:nth-child(3n) {
  margin-right: 0;
}

.catalog-navigation li:last-child {
  width: 100%;
}


.promo-slider {
  position: relative;
  margin-bottom: 105px;
}

.catalog-navigation a {
  font-size: 15px;
  line-height: 36px;
  font-family: "Open Sans", Arial, sans-serif;
  text-decoration: none;
  color: black;
}

.slider-navigation {
  position: absolute;
  top: 325px;
  right: 80px;

  margin: 0;
  display: flex;

  list-style: none;
}

.slide-checkbox::before{
  display: inline-block;
  margin-right: 20px;
  content: "";
  width: 11px;
  height: 11px;
  vertical-align: top;

  border: 1px solid #000000;
  border-radius: 50%;
}

 .slide-check-active::before {
  box-shadow: inset 0 0 0 3px white,
              inset 0 0 0 4px black;
}

.slide-list {
  width: 1160px;
  margin: 0;
  padding: 0;
  margin-bottom: 52px;
  background-image: linear-gradient(#f7e296 110px, transparent 110px);
}

.slider-item {
  width: 1160px;
  display: none;

  justify-content: space-between;
}

.slide-active {
  display: flex;
}

.slider-item:first-child {
  background-image: url("../img/01.png");
  background-repeat: no-repeat;
  background-position: 933px 10px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/02.png");
  background-repeat: no-repeat;
  background-position: 933px 10px;
}

.slider-item:last-child {
  background-image: url("../img/03.png");
  background-repeat: no-repeat;
  background-position: 933px 10px;
}

.slider-item img {
  margin: auto;
  margin-top: 0;
}

.slider-item-info {
  margin-right: 60px;
  margin-top: 37px;
  width: 500px;
}

.item-text-promo:before {
  margin-bottom: 33px;
  display: block;
  content: "";
  width: 100px;
  height: 7px;

  background: #ffffff;
}

.item-text-promo {
  margin: 0;
  padding: 0;

  font-size: 47px;
  letter-spacing: 0.02em;
  line-height: normal;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;  
}

.item-text {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 52px;

  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", Arial, sans-serif;
}

.slider-item-info {
  padding-left: 33px;
}

.item-promo span {
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", Arial, sans-serif; 
}

.slider-item .button {
  padding-right: 42px;
  padding-left: 44px;
}

.slider-item table {
  margin-left: -2px;
  margin-top: 63px;
}

.slider-item th {
  text-align: left;
  padding-top: 10px;
  font-size: 13px;
  line-height: 20px; 
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: normal; 
  color: #464646;
}

.slider-item td {
  padding-right: 79px;

  font-size: 36px;
  font-family: "Gilroy", Arial, sans-serif;  
}

.slider-item td:last-child {
  padding-right: 0;
}

.product-category {
  margin-bottom: 86px;
}

.product-category-list {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  
  list-style: none;
}

.product-category-item {
  width: 160px;
}

.product-category-item a {
  font-size: 18px;
  font-family: "Gilroy", Arial, sans-serif;
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.product-category-item a:hover span {
  background-color: #f0c52e;
}

.product-category-item a:active,
.product-category-item a:active img {
  opacity: 0.5;

}

.product-category-item span {
  display: flex;
  height: 160px;
  margin-bottom: 35px;

  background-color: rgba(240, 197, 46, 0.5);
}

.product-category-item img{

  margin: auto;
}

.product-category-item:nth-child(2) img {
  margin-bottom: 2px;
}
.product-category-item:nth-child(3) img,
.product-category-item:nth-child(4) img,
.product-category-item:nth-child(5) img {
  padding-left: 8px;
}

.services-background {
  min-width: 1200px;
  margin-bottom: 90px;
  padding-bottom: 69px;
  
  background-image: linear-gradient(transparent 25%, #e5e5e5 25%); 
}

.services {
  display: flex;
  align-items: center;
}

.services ul {
  margin: 0;
  padding: 0;

  list-style: none;
}


ul.services-category-list {
  padding-top: 8px;
  width: 277px;
  min-height: 312px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  border-right: 7px solid #000000;
}

.services button {
  margin-top: 12px;
  margin-bottom: 12px;
  width: 160px;
  min-height: 40px;

  font-size: 18px;
  font-family: "Gilroy", Arial, sans-serif;  
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.2em;
}

.services .btn-active,
.services button:active{
  width: 100%;
  padding-right: 118px;

  color: #f7e184;

  background: #000000;
} 

.services-slide-container {
  margin-top: 70px;
  align-self: flex-start;
  width: 810px;

  overflow: hidden;
}

.services-category-item{
  display: none;
  padding-left: 58px;
  padding-right: 300px;
  margin-left: 60px;
  width: 750px;
  min-height: 200px;

  box-sizing: border-box;
}

.services-item-active {
  display: block;
}

.services-category-item:nth-child(1) {
  background: url("../img/delivery.svg") no-repeat right 15px;
}

.services-category-item:nth-child(2) {
  background: url("../img/warranty.svg") no-repeat right 15px;
}

.services-category-item:nth-child(3) {
  background: url("../img/credit.svg") no-repeat right 15px;
}

.services h3 {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;

  font-size: 47px;
  letter-spacing: 0.02em;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
}

.services p {
  margin: 0;
  padding: 0;
  width: 460px;

  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", Arial, sans-serif; 
}

.brands{
  margin-bottom: 142px;
}

.brands-list{
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: space-between;

  list-style: none;
}

.brand-item img{
  opacity: 0;
}

.brand-item img:hover {
  opacity: 1;
}

.brand-item:nth-child(1) {
  background-image: url("../img/brand-mask-1.jpg");
}

.brand-item:nth-child(2) {
  background-image: url("../img/brand-mask-2.jpg");
}

.brand-item:nth-child(3) {
  background-image: url("../img/brand-mask-3.jpg");
}

.brand-item:nth-child(4) {
  background-image: url("../img/brand-mask-4.jpg");
}

.information{
  margin-bottom: 80px;

  display: flex;
  justify-content: space-between;
}

.information h3 {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
  font-size: 47px;
}

.information p {
  margin-top: 0;
  margin-bottom: 40px;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
}

.information ul{
  margin: 0;
  margin-bottom: 66px;
  padding: 0;
  padding-left: 35px;
  

  list-style: none;
}

.information li {
  position: relative;
  margin-bottom: 22px;

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
}

.information li::before {
  content: "";
  position: absolute;

  left: -40px;
  top: 5px;
  width: 8px;
  height: 8px;
  border: 2px solid #e6e6e6;
  border-radius: 50%;
}

.information li:last-child {
  margin-bottom: 0;
}

.information a,
.information button{
  display: inline-block;
  min-width: 260px;
  vertical-align: middle;

  text-align: center;
}

.about,
.contacts {
  position: relative;
}

.about:before,
.contacts:before {
  content: "";
  position: absolute;
  top: -50px;

  width: 80px;
  height: 7px;

  background-color: #000000;
}

 .about {
  width: 500px;
}

.about h3,
.contacts h3 {
  margin: 0;
  margin-bottom: 42px;
}

.about p {
  margin-bottom: 30px;
}

.about p:last-of-type {
  margin-bottom: 75px;
}

.contacts {
  width: 560px;
}

.contacts a {
  margin-bottom: 63px;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  padding-left: 60px;
  margin-bottom: 40px;
  
  display: flex;
  list-style: none;
}

.breadcrumbs li {
  position: relative;
  margin-right: 35px;
}

.breadcrumbs li::after {
  position: absolute;
  content: "";
  top: 15px;
  right: -16px;
  
  width: 5px;
  height: 5px;

  border-top: 1px solid black;
  border-right: 1px solid black;

  transform: rotate(45deg);
}

.breadcrumbs li:last-child:after {
  content: none;
  border: none;
}

.breadcrumbs li:last-child {
  margin-right: 0;
}

.breadcrumbs a {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 36px;
  text-decoration: none;
  color: #bcbcbc;
}

.breadcrumbs a:hover {
  color: #666666;
}

.breadcrumbs a:active {
  color: #e5e5e5;
}

.content {
  min-width: 1200px;
  position: relative;
  display: flex;
  justify-content: center;
}

.content::before {
  display: block;
  content: "";
  max-width: 100%;
  flex-grow: 1;

  background-color: rgba(0, 0, 0, 0.08);
}

.content::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  
  height: 70px;
  width: 100%;
  min-width: 1200px;

  background-color: rgba(0, 0, 0, 0.08);
}

.product-sorting h2,
.product-filter h2 {
  margin: 0;
  padding: 0;
  padding-top: 25px;
  padding-bottom: 30px;
}

.product-filter {
  padding-left: 80px;
  padding-right:  70px;
  z-index: 2;

  width: 200px;
  
  background-color: rgba(0, 0, 0, 0.08);
}

.product-filter h2 {
  margin-bottom: 65px;
  padding-left: 3px;
}

.filter-item {
  margin: 0;
  padding: 0;
  margin-bottom: 38px;

  border: none;
}

.range-filter {
  width: 200px;
}

.range-controls {
  position: relative;

  padding-top: 6px;
  height: 15px;
}

.range-controls .scale {
  height: 2px;

  background: #dbdbdb;
}

.range-controls .bar {
  margin-left: 0%;
  width: 60%;
  height: 2px;

  background: #91c92f;
}

.range-controls .toggle {
  position: absolute;
  top: -4px;
  left: 0;
  
  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: -5px;
}

.range-controls .toggle-max {
  left: 110px;
}

.price-controls {
  width: 200px;

  font-size: 0;
} 

.price-controls label {
  display: inline-block;
  vertical-align: top;

  font-family: "Gilroy", Arial, sans-serif;
  color: #bebebe;
  font-size: 14px;
}

.price-controls label:first-child {
  margin-right: 60px;
}

.product-filter fieldset {
  padding: 0;
  width: 200px;

  border:none;
  border-top: 3px solid black;
}

.product-filter legend {
  margin-top: 12px;
  margin-bottom: 29px;

  float: left;
  font-size: 18px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
}

.color-setting {
  margin-bottom: 29px;
}

.color-setting legend {
  margin-bottom: 22px;
}

.product-filter-legend + * {
  clear: both;
}

.color-setting-item {
  position: relative;
}

.color-label:after,
.color-label:before {
  position:absolute;
  content:'';
  top:5px;
  left: 0;

  display:block;
  height:20px;
  width:20px;

  border: 2px solid black;
  border-radius: 4px;
}

.color-label{
  padding-left: 40px;
}

.color-checkbox:checked + label:after {
  top:  8px;
  left: 7px;

  width:16px;
  height:6px;

  box-shadow: 5px 3px 0 -1px #eeeeee,
      inset 5px -3px 0 -1px #eeeeee;
  border: none;
  border-left:4px solid black;
  border-bottom:4px solid black;
  border-radius: 0;    
  transform:  rotate(-45deg);
}

.color-checkbox:focus + label:before{
  outline: 2px solid #0099ff;
}

.checkbox label:hover:after,
.checkbox label:hover:before,
.checkbox input[type=checkbox]:checked + label:hover:after {
  border-color: #000000;
}

.radio-box {
  position: relative;
}

.radio-box label {
  padding-left: 40px;
}

.radio-box label::before {
  content:'';
  position:absolute;
  top: 5px;
  left: 0;

  display:block;
  height:17px;
  width:17px;

  border: 4px solid black;
  box-shadow: inset 0 0 0 4px #efefef;
  background-color: transparent;
  border-radius: 50%;
}

input[type="radio"]:checked + .radio-label:before{
  background-color: #000000;
}

input[type="radio"]:focus + .radio-label:before{
  outline: 2px solid #0099ff;
}

.product-filter button{
  width: 200px;
  padding-left: 20px;
}

.product-filter h2,
.product-sorting h2 {
  font-size: 16px;
  font-family: "Gilroy", Arial, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.2em;
}

.product-filter input,
.product-filter p {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 40px;
  font-family: "Open Sans", Arial, sans-serif;
  color: black;
}

.product-filter p:hover {
  color: #606060;
}

.bluetooth-setting {
  margin-bottom: 30px;
}

.bluetooth-setting legend {
  margin-bottom: 25px;
}

.bluetooth-setting p {
  padding-bottom:  12px;
}

.product-container {
  width: 760px;
  padding-left: 74px;
  padding-right: 20px;
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  flex-direction: column;
}

.product-container:ater {
  content: "";
  display: block;
  flex-grow: 1;
}

.product-sorting {
  width: 760px;
  display: flex;
  margin-bottom: 15px;
  height: 70px;
  justify-content: space-between;
  align-items: center;
}

.product-sorting h2 {
  margin-right: 53px;
}

.product-sorting ul {
  display: flex;
  padding-bottom: 5px;
  justify-content: space-between;

  list-style: none;
}

.sortion-order {
  margin-left: auto;
  margin-right: 0;
}

.sorting-option {
  padding: 0;
  margin: 0;
  margin-right: auto;
}

.sorting-option li {
  margin-right: 30px;
}

.sorting-order-item {
  display: inline-block;
  width: 10px;
  height: 15px;
  vertical-align: top;

  opacity: 0.2;
  background: url("../img/icon-down-dir.svg") no-repeat center;
}

.sorting-order li:first-child {
  transform: rotate(180deg);
  margin-right: 20px;
}

.sorting-option a,
.sorting-order a {
  padding-left: 70px;
  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans", Arial, sans-serif; 
  text-decoration: none;
  color: black;

  opacity: 0.2;
}

a.sorting-item-active {
  opacity: 1;
}

.sorting-option a:hover,
.sorting-order a:hover {
  opacity:  0.3;
}

.sorting-option a:active,
.sorting-order a:active {
  opacity: 1;
}

.catalog-list {
  padding: 0;
  width: 760px;
  margin: 0;
  margin-bottom: 42px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.catalog-item {
  position: relative;

  display: inline-block;
  margin-top: 53px;
  vertical-align: top;
  width: 360px;
}

.catalog-item:nth-child(2n-1) {
  margin-right: 40px;
}

.new::before {
  content: "";
  position: absolute;
  right: 27px;
  top: 29px;
  
  width: 56px;
  height: 56px;
  
  background-image: url("../img/NEW.png");
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid black;
  border-radius: 50%;

  opacity: 0.2;
}

.catalog-item img {
  margin-bottom: 30px;
}

.catalog a {
  text-decoration: none;
  color: black;
}

.catalog-item span {
  padding: 0;
  margin: 0;
  width: 260px;
  display: inline-block;
  vertical-align: top;

  font-weight: bold;
  font-size: 18px;
  font-family: "Gilroy", Arial, sans-serif;
  
}

.catalog b {
  width: 90px;
  display: inline-block;
  vertical-align: top;

  text-align: right;
  vertical-align: top;
}

.bay-setting {
  position: absolute;
  top: 0;

  display: none;
  width: 360px;
  height: 380px;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: rgba(238, 238, 238, 0.7);
}

.catalog-item:hover .bay-setting{
  display: flex;
}

.bay-setting button {
  width: 200px;
  margin-top: 15px;
}

.bay-setting-compare {
  width: auto;

  font-family: "Open Sans", Arial, sans-serif; 
  font-size: 14px;

  opacity: 0.5;
  border-style: none;
  background: none;
}

.bay-setting-compare:hover {
  opacity: 1;
}

.bay-setting-compare:active {
  opacity: 0.2;
}

.pagination-list {
  margin:0;
  margin-bottom: 79px;
  padding: 0; 

  display: flex;
  justify-content: space-between;
  width: 760px;
  align-items: center;

  font-size: 16px;
  font-family: "Gilroy", Arial, sans-serif;

  list-style: none;
  background-color: #ebebeb;
}

.pagination-back{
  margin-right: auto;
}

.pagination-back a,
.pagination-next a {
  display: block;
  padding: 25px 30px;
}

.pagination-item {
  margin: 17px;
  margin-right: 14px;
}

.pagination-next {
  margin-left: auto;
}


.pagination-item a { 
  margin-left: auto;

  font-weight: bold;
  color: #b2b2b2;
}

.pagination-item a:hover {
  color: #666666;
}

.pagination-item a:active {
  color: black;
}

.pagination-item-current>a {
  color: black;
}

.pagination-back>a,
.pagination-next>a {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: black;
}

.pagination-back>a:hover,
.pagination-next>a:hover {
  background-color: #d9d9d9;
}

.pagination-back>a:active,
.pagination-next>a:active {
  color: #979797;
}

.catalog b {
  padding-top: 3px;

  font-family: "Gilroy", Arial, sans-serif;
  text-align: right;
  font-size: 16px;
  font-weight: normal;  
  color: #464646;
}

.main-footer {
  padding-top: 65px;
  padding-bottom: 65px;
  min-width: 1200px;

  background-color: #464646;
}

.main-footer-top {
  margin-bottom: 30px;

  display: flex;
  justify-content: space-between;
}

.footer-user-navigation,
.footer-profile-navigation {
  padding: 0;
  margin: 0;

  list-style: none;
}

.footer-profile-navigation {
  margin-left: auto;
}

.footer-user-navigation li,
.footer-profile-navigation li {
  margin-left: 40px;

  float: left;
}
.footer-profile-navigation a,
.footer-user-navigation a,
.main-footer-middle span {
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: normal;
  text-decoration: none;
  color: white;
}

.main-footer-middle {
  margin-bottom: 60px;

  display: flex;
  justify-content: space-between;
}

.main-footer-middle span{
  width: 260px;
}

.main-footer-middle span:last-child {
  text-align: right;
}

.footer-site-navigation {
  display: flex;
  margin: 0;
  padding: 0;
  padding-top: 5px;

  list-style: none;
}

.main-footer-middle li {
    margin-right:  36px;
}

.main-footer-middle li:last-child {
  margin-right:  0;
}

.main-footer-middle span {
  font-weight: normal;
}

.footer-profile-navigation a,
.footer-user-navigation a,
.footer-login-linkg {
  position: relative;
  padding-left: 20px;
  color: rgba(255, 255, 255, 0.7);
}

.footer-profile-navigation a:before,
.footer-user-navigation a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  
  width: 12px;
  height: 12px; 
  margin-top: 5px;
}

a.footer-login-link::before {
  background: url("../img/user-footer.svg") no-repeat center;
  left: -7px;
}

.footer-compare::before {
  background: url("../img/compare-footer.svg") no-repeat center;
}


.footer-cart::before {
  background: url("../img/cart-footer.svg") no-repeat center;
}

.footer-profile-navigation a:hover:before,
.footer-user-navigation a:hover:before {
  opacity: 0.6;
}

.footer-profile-navigation a:active:before,
.footer-user-navigation a:active:before {
  opacity: 0.3;
}

.footer-user-navigation a:hover ,
.footer-profile-navigation a:hover{
  color: #ffffff;
}

.footer-user-navigation a:active,
.footer-profile-navigation a:active {
  color: #7e7e7e;
}

.footer-site-navigation a {
  color: white;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0;
  letter-spacing: 0.20em;
  text-decoration: none;
}

.footer-site-navigation a:hover {
  color: #b5b5b5;
}

.footer-site-navigation a:active {
  color:#7e7e7e;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-bottom:before {
  content: "";
  display: block;
  margin-right: 120px;
  width: 80px;
  height: 7px;

  background-color: #ffc600;
}

.decorate-box {
  margin-right: 120px;
}

.footer-copyright {
  width: 200px;
}

.main-footer-social {
  justify-content: center;

  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.main-footer-social {
  opacity: 0.3;
}

.main-footer-social a:hover {
  opacity: 0.6;
}

.main-footer-social a:active {
  opacity: 0.1;
}

.main-footer-social li {
  margin-right: 22px;
}

.main-footer-social li:last-child {
  margin-right: 0;
}

.footer-copyright {
  margin: 0;
  text-align: right;
}

.html-logo:hover {
  opacity: 0.6;
}

.html-logo:active {
  opacity: 0.3;
}

.modal-login label {
  font-size: 18px;
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: bold;
}

.modal-login input,
.modal-login textarea {
  font-size: 14px;
  line-height: 30px;
  font-family: "Open Sans", Arial, sans-serif; 

  background-color: #f2f2f2;
  border: none; 
}

.modal {
  z-index: 3;
  position: fixed; 

  display: none;
  top: 160px;

  font-size: 0;
  color: #000000;

  background-color: #ffffff;  
}

.modal-login {
  left: 50%;

  width: 760px;
  margin-left: -460px;
  padding: 80px 100px;

  box-shadow: 0 0 4px -2px rgba(0, 0, 0, 0.7),
              75px 0 40px -75px rgba(0, 0, 0, 0.7),
              -75px 0 40px -75px rgba(0, 0, 0, 0.7),
              0 10px 30px -10px rgba(0, 0, 0, 0.7);
}

.modal p {
  margin: 0;
  margin-bottom: 35px;
  display: inline-block;
  vertical-align: top;
  min-width: 360px;
}

.modal p:first-child{
  margin-right: 40px;
}

.modal label {
  margin-bottom: 10px;
  display: block;
}

.modal input[type="text"] {
  padding: 10px 20px;
  width: 360px;
  height: 50px;
  
  box-sizing: border-box;
  background-color: rgba(242, 242, 242, 0.5);
}

.modal input[type="text"]:hover,
.modal textarea:hover {
  background-color: rgba(242, 242, 242, 0.8);
}

.modal input[type="text"]:focus,
.modal textarea:focus {
  background-color: #ffffff;
  box-shadow:inset 0 0 0 3px #f7e296;
  outline-style: none;
}

.modal textarea {
  padding: 10px 20px;
  width: 760px;
  min-height: 156px;
  
  box-sizing: border-box;
  background-color: rgba(242, 242, 242, 0.5);
}

.modal-close {
  position: absolute;
  top: 22px;
  right: 22px;
  width: 55px;
  height: 55px;

  font-size: 0;

  background-color: #f0c52e;
  opacity: 0.5;

  border: 0;
  border-radius: 50%;

  cursor: pointer;
}

.modal-close:hover {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.3;
}

.modal-close::before,
.modal-close::after {
  content: "";

  position: absolute;
  left:  15px;
  top: 25px;

  width: 25px;
  height: 3px;

  background-color: #ffffff;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal .button {
  padding-right: 35px;
  padding-left: 35px;
}

.modal-map {
  left: 50%;
  margin-left: -480px;
  width: 960px;
  height: 560px;

  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2)
}

@keyframes bounce {
  0% { transform: translateY(-2000px); }
  70% { transform: translateY(30px); }
  90% { transform: translateY(-10px); }
  700% { transform: translateY(-0px); }
}

.modal-show {
  display: block;
  animation-name: bounce;
  animation-duration: 0.6s;
}

@keyframes shake {
  0%, 100%                { transform: translateX(0);     }
  10%, 30%, 50%, 70%, 90% { transform: translateX(-10px); }
  20%, 40%, 60%, 80%      { transform: translateX(10px);  }
}

.modal-error {
  animation-name: shake;
  animation-duration: 0.6s;
}


.modal input[type="text"]:required:invalid,
.modal textarea:required:invalid {
  background-color: #f6dada;
}
